@use "../../global" as g;
@use "sass:math";

// スクロールアニメーション用
.isFadeIn {
  @extend %isFadeIn;
}
.isFadeUp {
  @extend %isFadeUp;
}

.workDetails {
  padding-top: 105px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 102px;
  background: linear-gradient(
    0.9deg,
    g.$color-work-details-background1 0%,
    g.$color-work-details-background2 100%
  );

  @include g.mq("lg") {
    padding-bottom: 100px;
    background: linear-gradient(
      24.91deg,
      g.$color-work-details-background1 0%,
      g.$color-work-details-background2 100%
    );
  }

  @include g.mq("xl") {
    padding-top: 133px;
  }
}

.sectionTitleWrap {
  @include g.mq("lg") {
    margin-top: 74px;
  }
}

.contentsWrap {
  margin-top: 59px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1034px;

  @include g.mq("lg") {
    margin-top: 62px;
  }
}

.mainInfo {
  width: 100%;
  max-width: 932px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 25px;

  @include g.mq("lg") {
    max-width: 983px;
    margin-left: auto;
    margin-right: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}

.mainImgWrap {
  width: 100%;

  @include g.mq("lg") {
    width: math.div(485px, 983px) * 100%;
    max-width: 485px;
  }
}
.mainInfoTextWrap {
  width: 100%;

  @include g.mq("lg") {
    width: math.div(434px, 983px) * 100%;
    max-width: 434px;
  }
}

.caseName {
  font-weight: 700;
  font-size: clamp(g.rem(20), 4vw, g.rem(24));
  line-height: math.div(34.75, 24);
}

.siteLink {
  display: inline-block;
  margin-top: 16px;
  color: g.$color-font-main;

  @include g.mq("lg") {
    margin-top: 8px;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

// 各line-hight
.siteLink,
.infoText {
  line-height: math.div(23.17, 16);
}
.personName,
.engineerComments,
.webDesignerComments {
  line-height: math.div(25.6, 16);
}
.caseSummary {
  line-height: math.div(25.6, 16);

  @include g.mq("md") {
    line-height: math.div(23.17, 16);
  }
}
.engineerComments,
.webDesignerComments {
  line-height: math.div(25.9, 16);

  @include g.mq("md") {
    line-height: math.div(25.6, 16);
  }
}

// 最初の.infoTextのみ適用
.infoText {
  margin-top: 16px;

  @include g.mq("lg") {
    margin-top: 8px;
  }
}

.personWrap,
.infoText ~ .infoText {
  margin-top: 16px;
}

.infoTextBoldface {
  font-weight: 700;
  color: g.$color-font-work-details-point;
}

.infoTextBr {
  @include g.mq("sm") {
    display: none;
  }
}

// 概要
.outlineInfo {
  width: 100%;
  max-width: 932px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
}

.productionOutlineTile {
  margin-top: 52px;
  font-weight: 700;
  font-size: clamp(g.rem(20), 4vw, g.rem(24));
  line-height: math.div(34.75, 24);

  @include g.mq("lg") {
    margin-top: 25px;
  }
}
.productionOutlineSubTile {
  font-weight: 700;
  font-size: clamp(g.rem(18), 4vw, g.rem(20));
  line-height: math.div(32, 20);
  margin-top: 11px;
  color: g.$color-font-work-details-point;
}

.engineerComments,
.webDesignerComments {
  margin-top: 0;
}

// カンプ
.compImgList {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px 18px;
  width: 100%;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("md") {
    flex-direction: row;
    margin-top: 50px;
    gap: 25px 18px;
  }
}

.compImgItem {
  display: flex;
  gap: 18px;
  width: 100%;
  max-width: 456px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("md") {
    margin-left: 0;
    margin-right: 0;
  }
}
.compImgWrapPc {
  width: math.div(300px, 456px) * 100%;
  max-width: 300px;
}
.compImgWrapSp {
  width: math.div(138px, 456px) * 100%;
  max-width: 138px;
}

.btnWrap {
  margin-top: 48px;
  width: 239px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("md") {
    margin-top: 50px;
  }
}

// 後で削除予定 エンジニアコメントで使用
// .br {
//   content: "";
//   display: block;
//   margin-top: 25.59px;
// }
