@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOutAnime {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}