@use "./palette" as p;
/**
* global/_palette.scss参照
* 参考記事：https://qiita.com/1natsu172/items/ef6b0fcba6bbe380df1e
*/

/*=======================
common
====================== */
// body
$color-body-background: p.$palette-white;

// header
$color-globalHeader-background: p.$palette-white;
$color-globalHeader-hover-underBar: p.$palette-orangePeel;

// footer
$color-globalFooter-background: p.$palette-codGray;
$color-font-globalFooter: p.$palette-white;
$color-font-globalFooter-hover: p.$palette-orangePeel;

// btn
$color-btn-background-1: p.$palette-fruitSalad;
$color-btn-background-2: p.$palette-forestGreen;
$color-btn-hover-background: p.$palette-orangePeel;
$color-font-btn: p.$palette-white;

// to top button
$color-font-toTopBtn: p.$palette-white;
$color-toTopBtn-hover-background: p.$palette-orangePeel;

// drawer btn
$color-drawerBtn-background-1: p.$palette-fruitSalad;
$color-drawerBtn-background-2: p.$palette-forestGreen;
$color-drawerBtn-openBackground: p.$palette-orangePeel;
$color-drawerBtn-bar: p.$palette-white;
// drawer menu
$color-drawerMenu-background: p.$palette-orangePeel;
$color-font-drawerMenu: p.$palette-white;
$color-font-hover-drawerMenu: p.$palette-fruitSalad;
$color-overlay: p.$palette-transparentOrangePeel-4;

// font
$color-font-main: p.$palette-codGray;

/*=======================
home
====================== */
// promise
$color-font-promiseTitle-decoration: p.$palette-orangePeel;
$color-promiseCard-background: p.$palette-white;
$color-font-promiseCardTitle-decoration: p.$palette-orangePeel;
$color-promiseCard-shadow: p.$palette-transparentOrangePeel-4;

// team name
$color-teamName-background: p.$palette-peachCream;

// production achievements
$color-productionAchievements-background: p.$palette-peachCream;

// service and price
$color-card-shadow: p.$palette-orangePeel;
$color-cardTitle-background: p.$palette-orangePeel;
$color-card-border: p.$palette-orangePeel;
$color-font-cardTitle: p.$palette-white;
$color-font-price: p.$palette-orangePeel;

// flow
$color-item-freeIcon-background: p.$palette-forestGreen;
$color-font-item-freeIcon: p.$palette-white;
$color-fontAndUnderline-item-contactLink: p.$palette-orangePeel;
$color-flowIcon-background1: p.$palette-bridalHeath;
$color-flowIcon-background2: p.$palette-sandyBeach;
$color-flowIcon-background3: p.$palette-navajoWhite;
$color-flowIcon-background4: p.$palette-chardonnay;
$color-flowIcon-background5: p.$palette-koromiko;
$color-flowIcon-background6: p.$palette-yellowOrange;
$color-flowIcon-background7: p.$palette-mySin;
$color-flowIcon-background8: p.$palette-orangePeel;
$color-flowIcon-background9: p.$palette-tangerine;
$color-font-flowIcon-number-orange: p.$palette-orangePeel;
$color-font-flowIcon-number-white: p.$palette-white;

// member
$color-member-lead-marker: p.$palette-transparentOrangePeel-8;
$color-memberItem-shadow: p.$palette-transparentCodGray-15;
$color-memberItem-background: p.$palette-white;
$color-font-memberName-hover: p.$palette-orangePeel;
$color-subFont-member: p.$palette-scorpion;

// qa
$color-qa-itemHead-background: p.$palette-peachCream;
$color-qa-itemBody-background: p.$palette-white;

// contact
$color-contactSection-background1: p.$palette-peachCream;
$color-contactSection-background2: p.$palette-white;
$color-font-itemLabel: p.$palette-white;
$color-itemLabel-optional-background: p.$palette-silverChalice;
$color-itemLabel-required-background: p.$palette-orangePeel;
$color-itemInput-border: p.$palette-silverChalice;
$color-itemInput-border-applicable: p.$palette-orangePeel;
$color-itemInput-background: p.$palette-white;
$color-font-placeholder: p.$palette-silverChalice;
$color-itemInput-autoCompletion-background: p.$palette-white;
$color-radio-border: p.$palette-silverChalice;
$color-radio-background-base: p.$palette-white;
$color-radio-background-check1: p.$palette-orangePeel;
$color-radio-background-check2: p.$palette-white;

// thanks
$color-thanks-background: p.$palette-peachCream;

// work details
$color-work-details-background1: p.$palette-peachCream;
$color-work-details-background2: p.$palette-white;
$color-font-work-details-point: p.$palette-orangePeel;
