/**
* カラーパレット
* _color.scssで使用
* 参考記事：https://qiita.com/1natsu172/items/ef6b0fcba6bbe380df1e
*/

$palette-orangePeel: #ff9900;
$palette-transparentOrangePeel-4: rgba(255, 153, 0, 0.4);
$palette-transparentOrangePeel-8: rgba(255, 153, 0, 0.8);
$palette-forestGreen: #25cd23;
$palette-fruitSalad: #4d976c;
$palette-codGray: #171717;
$palette-transparentCodGray-15: rgba(23, 23, 23, 0.15);
$palette-scorpion: #5e5e5e;
$palette-silverChalice: #a0a0a0;
$palette-white: #ffffff;
$palette-peachCream: #fff1dd;
$palette-bridalHeath: #fff8ee;
$palette-sandyBeach: #ffebcc;
$palette-navajoWhite: #ffddaa;
$palette-chardonnay: #ffcf88;
$palette-koromiko: #ffc266;
$palette-yellowOrange: #ffb444;
$palette-mySin: #ffa722;
$palette-tangerine: #ee8f00;
$palette-mandy: #e55f5e;
