@use "./color" as c;
@use "./mediaQuery" as m;
@use "./z-index" as z;

// button
%buttonDecoration {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 16.5px 17.5px 16.5px 30px;
  border-radius: 100vh;
  color: c.$color-font-btn;
  font-weight: 500;
  transition: transform 0.3s cubic-bezier(0.2, 0.675, 0.626, 1);

  &::before {
    background: linear-gradient(
      87.73deg,
      c.$color-btn-background-1 4.09%,
      c.$color-btn-background-2 96.35%
    );
    z-index: z.zi(button-base);
  }
}
%button {
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    background: c.$color-btn-hover-background;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: z.zi(button-hover);
  }
}
%buttonContents {
  position: relative;
  z-index: z.zi(button-text);
}
%buttonArrow {
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 19px;
    background: transparent url(/img/common/arrow-icon.svg) no-repeat center
      center/contain;
  }
}

// section
%sectionLayout {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 24px;
  padding-right: 24px;

  @include m.mq("md") {
    padding-bottom: 100px;
  }
  
  @include m.mq("lg") {
    padding-top: 100px;
  }
}

// card
%cardRadius {
  border-radius: 20px 20px 60px 20px;
}
