// z-index
$layers: (
    loading-screen: 9999,
    modal: 100,
    drawerBar: 41,
    drawer: 40,
    overlay: 39,
    sp-menu: 35,
    floating: 30,
    header: 20,
    toTopBtn: 10,
    button-text:3,
    button-hover:2,
    button-base:1,
    base: 1,
);

//z-index用の関数を定義
@function zi($layer) {
	@return map-get($layers, $layer);
}

// 入力例
// .hoge {
//   z-index: g.zi(header);
// }