// z-index
$layers: (
    loading-screen: 9999,
    modal: 100,
    drawer: 40,
    sp-menu: 35,
    floating: 30,
    header: 20,
    base: 1,
);

//z-index用の関数を定義
@function zi($layer) {
	@return map-get($layers, $layer);
}

// 入力例
// .hoge {
//   z-index: g.zi(header);
// }