// z-index
$layers: (
    loading-screen: 9999,
    modal: 100,
    drawerBar: 41,
    drawer: 40,
    overlay: 39,
    sp-menu: 35,
    floating: 30,
    header: 20,
    toTopBtn: 10,
    flowIcon1: 9,
    flowIcon2: 8,
    flowIcon3: 7,
    flowIcon4: 6,
    flowIcon5: 5,
    flowIcon6: 4,
    flowIcon7: 3,
    flowIcon8: 2,
    flowIcon9: 1,
    button-text:3,
    button-hover:2,
    button-base:1,
    textarea-base:2,
    textarea-placeholder:1,
    base: 1,
    memberLeadBoldface: -1,
);

//z-index用の関数を定義
@function zi($layer) {
	@return map-get($layers, $layer);
}

// 入力例
// .hoge {
//   z-index: g.zi(header);
// }