@use "../../global" as g;
@use "sass:math";

.member {
  @extend %sectionLayout;
  background: transparent url(/img/top/Hamorebi_sun--sp.png) no-repeat top 273px
    left 0 / 67.024%;

  @include g.mq("md") {
    background: transparent url(/img/top/Hamorebi_sun--full.png) no-repeat top
      145px center / contain;
  }

  @include g.mq("xxl") {
    background: transparent url(/img/top/Hamorebi_sun--full.png) no-repeat top
      120px left calc(50vw - 804px) / 1524px auto;
  }
}

.leadWrap {
  margin-top: 54px;
  width: 100%;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("sm") {
    margin-top: 63px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.leadTop,
.leadBottom {
  text-align: center;
  line-height: math.div(25.6, 16);
}
.leadBoldface {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: -3px;
  font-weight: 500;
  font-size: clamp(g.rem(20), 3vw, g.rem(24));
  position: relative;
  z-index: g.zi(base);

  // marker
  &::after {
    content: "";
    display: inline;
    width: 100%;
    height: 7px;
    background-color: g.$color-member-lead-marker;
    position: absolute;
    bottom: 6px;
    left: -5px;
    z-index: g.zi(memberLeadBoldface);
    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
    padding-left: 0px;

    @include g.mq("sm") {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      left: -13px;
      padding-left: 13px;
    }
  }

  ~ .leadBoldface::after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
    padding-left: 5px;
    padding-right: 5px;
    left: -5px;

    @include g.mq("sm") {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      left: 0;
      padding-left: 0;
      padding-right: 10px;
    }
  }
}
.leadBoldfaceBr {
  @include g.mq("sm") {
    display: none;
  }
}
.leadSmallFace {
  font-size: g.rem(16);
}
.leadBottom {
  margin-top: 25px;

  @include g.mq("sm") {
    margin-top: 22px;
  }
}

.memberList {
  margin-top: 50px;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(273px, math.div(273px, 375px) * 100vw)
  );
  gap: 25px 16px;
  justify-content: center;

  @include g.mq("sm") {
    grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
    gap: 16px;
  }
}

.memberItem {
  box-shadow: 0 0 10px 2px g.$color-memberItem-shadow;
  background-color: g.$color-memberItem-background;
  @extend %cardRadius;
  padding: 30px;
}
.memberImgWrap {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 999px;
  margin-left: auto;
  margin-right: auto;
}
.memberName {
  margin-top: 16px;
  font-weight: 500;
  font-size: g.rem(24);
  text-align: center;
  line-height: math.div(34.75, 24);
}
.portfolioLink {
  color: g.$color-font-main;
  transition: color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: g.$color-font-memberName-hover;
    }
  }
}
.positionName {
  line-height: math.div(23.17, 16);
  text-align: center;
  margin-top: -1px;
}
.tradeName {
  margin-top: 11px;
  min-height: 17px;
  text-align: center;
  font-size: g.rem(12);
}
.skills {
  margin-top: 8.8px;
  line-height: math.div(17.38, 12);
  font-size: g.rem(12);
  text-align: center;
  min-height: 68px;
  width: 100%;
  max-width: 205px;
  margin-left: auto;
  margin-right: auto;
}
.snsList {
  margin-top: 12px;
  width: 100%;
  max-width: 188px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.snsItem {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.4);
    }
  }
}

.btnWrap {
  margin-top: 77px;
  width: 239px;
  margin-left: auto;
  margin-right: auto;
}
