@use "../../global" as g;
@use "sass:math";

.mv {
  margin-top: 55px;
  position: relative;
  padding-bottom: 50px;

  // 768px~
  @include g.mq("md") {
    height: clamp(415px, 54vw, 722px);
  }
  // 1024px~
  @include g.mq("lg") {
    padding-bottom: 0;
    height: clamp(415px, 51vw, 722px);
  }
  // 1200px~
  @include g.mq("xl") {
    margin-top: 80px;
  }
}

.imagesWrap {
  position: relative;
  top: 18px;
  width: math.div(332px, 375px) * 100vw;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;

  @include g.mq("md") {
    right: 15px;
    width: clamp(314px, 55vw, 773px);
    position: absolute;
    transform: translateX(0);
    margin-left: 0;
    margin-right: 0;
  }

  @include g.mq("lg") {
    top: -10px;
  }

  &.isFadeIn1 {
    animation-name: fadeInAnime;
    animation-duration: 1.1s;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.peopleImgWrap {
  width: 100%;
}

.pcImgWrap {
  width: math.div(159px, 375px) * 100vw;
  position: absolute;
  top: 23%;
  right: 52%;
  transform: translateX(50%);
  opacity: 0;

  @include g.mq("md") {
    width: clamp(159px, 26vw, 362px);
    transform: translateX(0);
    top: 25%;
    right: 28%;
  }

  @include g.mq("layout") {
    top: 190px;
    right: 220px;
  }

  &.isFadeIn2 {
    animation-name: fadeInAnime;
    animation-duration: 1.1s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.mvContentsWrap {
  margin-top: 23px;
  opacity: 0;

  @include g.mq("md") {
    margin-left: 6%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  @include g.mq("lg") {
    margin-left: math.div(150px, 1440px) * 100%;
  }

    &.isFadeIn3 {
    animation-name: fadeInAnime;
    animation-duration: 1.1s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.mvTitleWrap {
  margin: auto;
  width: clamp(313px, 36vw, 509px);

  @include g.mq("md") {
    margin: 0;
  }
}

.mvBtnWrap {
  width: 239px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("md") {
    margin-left: 22px;
  }
}
