@use "../../global" as g;
@use "sass:math";

.qa {
  @extend %sectionLayout;

  background: transparent url(/img/top/qa-background.jpg) no-repeat bottom 0
    center/ 100% auto;

  @include g.mq("3xl") {
    background: transparent url(/img/top/qa-background.jpg) no-repeat bottom
      calc(-50vw + 650px) center/ 100% auto;
  }
}

.list {
  margin-top: 62px;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.contactLead {
  margin-top: 52px;
  text-align: center;
  line-height: math.div(25.6, 16);
}
.contactLeadBrPC {
  display: none;
  @include g.mq("sm") {
    display: block;
  }
}
.contactLeadBrSP {
  @include g.mq("sm") {
    display: none;
  }
}

.btnWrap {
  margin-top: 50px;
  width: 239px;
  margin-left: auto;
  margin-right: auto;
}
