@use "../../global" as g;
@use "sass:math";

.item {
  &:not(:first-child) {
    margin-top: 20px;

    @include g.mq("md") {
      margin-top: 30px;
    }
  }
}

.itemHead,
.itemBody {
  font-size: clamp(g.rem(16), 2.5vw, g.rem(24));
  transition: all 0.3s;
}
.itemHead {
  padding: 16px 16px 16px 52px;
  background-color: g.$color-qa-itemHead-background;
  font-weight: 500;
  line-height: math.div(34.75, 24);
  position: relative;
  cursor: pointer;

  @include g.mq("lg") {
    padding: 17px 50px 15px 133px;
  }

  // 矢印
  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 19px;
    background: transparent url(/img/top/qa_arrow-icon.svg) no-repeat center
      center/contain;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s;

    @include g.mq("lg") {
      left: 45px;
    }
  }
}
.itemBody {
  padding: 0 16px 0 52px;
  line-height: math.div(38.4, 24);
  background-color: g.$color-qa-itemBody-background;
  height: 0;
  overflow: hidden;

  @include g.mq("lg") {
    padding: 0 50px 0 133px;
  }
}
// アコーディオンが開いた時
.itemHead.isActive {
  // 矢印
  &::before {
    transform: rotate(0);
    top: 35%;
  }

  & + .itemBody {
    padding: 16px 16px 16px 52px;
    height: auto;
    transition: all 0.4s;

    @include g.mq("lg") {
      padding: 16px 50px 16px 133px;
    }
  }
}
