@use "../../global" as g;
@use "sass:math";

// スクロールアニメーション用
.isFadeUp {
  @extend %isFadeUp;
}

.serviceAndPrice {
  @extend %sectionLayout;
}

.lead {
  margin-top: 51px;
  text-align: center;
  line-height: math.div(25.6, 16);

  @include g.mq("md") {
    margin-top: 63px;
  }
}

.serviceList {
  margin-top: 50px;
  display: grid;
  gap: 25px;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;

  @include g.mq("md") {
    gap: 16.5px;
  }

  @include g.mq("lg") {
    justify-content: space-between;
  }
}

.serviceItem {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  @extend %cardRadius;
  box-shadow: 0 0 10px 2px g.$color-card-shadow;
  overflow: hidden;

  @include g.mq("lg") {
    max-width: 520px;
    &:not(:first-child) {
      grid-column: 2/3;
    }

    &:first-child {
      grid-row: 1/4;
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 3/4;
    }
  }
}

.serviceNameWrap {
  background-color: g.$color-cardTitle-background;
  height: 68px;
}
.serviceName {
  color: g.$color-font-cardTitle;
  text-align: center;
  line-height: 68px;
  font-weight: 500;
  font-size: clamp(g.rem(24), 3vw, g.rem(36));
}

.serviceContentsWrap {
  padding: 30px 18px 24px;

  @include g.mq("md") {
    padding: 15px 24px 15px 24px;
  }
}

.servicePrice {
  font-weight: 500;
  text-align: center;
}
.boldface {
  font-size: g.rem(24);
  color: g.$color-font-price;
}

.serviceDescriptionWrap {
  text-align: center;
}
.serviceDescription {
  line-height: math.div(23.17, 16);
  margin-top: 12px;
  display: inline-block;
  text-align: left;
}

.siteExampleList {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;

  @include g.mq("md") {
    gap: 25px;
  }
}
.siteExampleItem {
  width: 100%;
  max-width: 192px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("sm") {
    margin: 0;
  }
}
.exampleName {
  font-weight: 500;
}
.examplePrice {
  margin-top: 14px;
  font-weight: 500;
}
.exampleBoldface {
  font-weight: 700;
  font-size: g.rem(24);
  color: g.$color-font-price;
}
.configurationExample {
  margin-top: 9px;
  font-size: g.rem(12);
  line-height: math.div(17.1, 12);

  span {
    display: block;
    margin-top: 3px;
  }
}

// サイト制作のみ
.serviceItem:first-child {
  .serviceContentsWrap {
    padding-top: 31px;

    @include g.mq("md") {
      padding-top: 32px;
    }
  }

  .serviceImgWrap {
    position: relative;
    margin-top: 18px;
    width: 195px;
    height: 155px;
    margin-left: auto;
    margin-right: auto;

    @include g.mq("md") {
      margin-top: 32px;
    }
  }
}

// LP, ECサイト, UIデザインのみ
.serviceItem:not(:first-child) {
  @include g.mq("lg") {
    .serviceContentsWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .serviceTextWrap {
      width: calc(100% - 156px);
    }
  }
  .serviceImgWrap {
    position: relative;
    width: 195px;
    height: 155px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;

    @include g.mq("lg") {
      width: 132px;
      height: 105px;
      margin: 0;
    }
  }
}

// UIデザインのみ
.serviceItem:last-child {
  .serviceImgWrap {
    margin-top: 42px;

    @include g.mq("lg") {
      margin-top: 7px;
    }
  }

  .serviceDescription {
    margin-top: 16px;

    @include g.mq("lg") {
      margin-top: 12px;
    }
  }
}
.attention {
  display: block;
  font-size: g.rem(12);
  margin-top: 7px;
}

.contactBtnWrap {
  margin-top: 50px;
  width: 239px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("md") {
    margin-top: 48px;
  }
}
