@use "../../global" as g;
@use "sass:math";

.teamName {
  @extend %sectionLayout;
  background: g.$color-teamName-background url(/img/top/hamorebi_logo_white.png)
    no-repeat bottom 0 right -16px / 74.4% auto;

  @include g.mq("sm") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat center right -25px / 80% auto;
  }

  @include g.mq("md") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat top 70% right -55px / 90% auto;
  }

  @include g.mq("lg") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat top -130px right -65px /
      860px auto;
  }

  @include g.mq("layout") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat top -127px left calc(
        50vw - 93px
      ) / 860px auto;
  }
}

.textWrap {
  width: 100%;
  max-width: 781px;
  margin: 3px auto;
}
.text {
  font-weight: 500;
}
.textBoldface {
  display: block;
  margin-top: 21px;
  font-size: clamp(g.rem(20), 3vw, g.rem(24));
  line-height: math.div(34.75, 24);
}
.textBottom {
  display: block;
  margin-top: 19px;
  padding-left: 6px;

  @include g.mq("md") {
    padding-left: 0;
  }
}
