@use "../../global" as g;
@use "sass:math";

// スクロールアニメーション用
.isFadeIn {
  @extend %isFadeIn;
}
.isFadeUp {
  @extend %isFadeUp;
}

.teamName {
  @extend %sectionLayout;

@include g.mq('md') {
  padding-top: 100px;
}

  padding-right: 21px;
  background: g.$color-teamName-background url(/img/top/hamorebi_logo_white.png)
    no-repeat bottom -3px right -17px / 79% auto;

  @include g.mq("sm") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat center right -25px / 80% auto;
  }

  @include g.mq("md") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat top 70% right -55px / 90% auto;
  }

  @include g.mq("lg") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat top -130px right -65px /
      860px auto;
  }

  @include g.mq("layout") {
    background: g.$color-teamName-background
      url(/img/top/hamorebi_logo_white.png) no-repeat top -127px left calc(
        50vw - 93px
      ) / 860px auto;
  }
}

.textWrap {
  width: 100%;
  max-width: 784px;
  margin: 3px auto;
}
.text {
  font-weight: 500;
}
.textBoldface {
  display: block;
  margin-top: 20px;
  font-size: clamp(g.rem(20), 3vw, g.rem(24));
  line-height: math.div(34.75, 24);
  padding-left: 10px;

  @include g.mq('sm') {
    padding-left: 0;
  }
}
.textBottom {
  display: block;
  margin-top: 19px;
  padding-left: 18px;

  @include g.mq("sm") {
    padding-left: 0;
  }
}
