@use "../../global" as g;
@use "sass:math";

.work {
  @extend %sectionLayout;
}

.lead {
  margin-top: 63px;
  line-height: math.div(25.6, 16);
  text-align: center;
}

.workStatusList {
  margin-top: 25px;
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("sm") {
    max-width: 681px;
    margin-top: 50px;
  }
}

.workBtnWrap {
  width: 239px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  @include g.mq("sm") {
    margin-top: 50px;
  }
}
