@use "../../global" as g;
@use "sass:math";

.workStatusItem {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:not(:first-child) {
    margin-top: 25px;
  }

  @include g.mq("sm") {
    &:not(:first-child) {
      margin-top: 23px;
    }
  }
}

.date {
  font-weight: 500;
  font-size: clamp(g.rem(12), 3vw, g.rem(16));
  min-width: 94px;
}
.dateBoldface {
  font-size: clamp(g.rem(20), 5vw, g.rem(24));
}
.dateYearText {
  padding-left: 0.05em;
  padding-right: 0.05em;

  @include g.mq("sm") {
    padding-left: 0.1em;
    padding-right: 0.3em;
  }
}

.contentsWrap {
  @include g.mq("sm") {
    display: flex;
    align-items: center;
  }

  @include g.mq("md") {
    margin-left: auto;
  }
}
.iconsWrap {
  display: flex;

  @include g.mq("sm") {
    gap: 0.5vw;
  }

  @include g.mq("md") {
    gap: 8px;
  }
}
.imgWrap {
  width: 47px;
  width: clamp(47px, 12vw, 70px);
  position: relative;

  @include g.mq("sm") {
    width: clamp(47px, 9vw, 70px);
  }

  &.isActive {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url(/img/common/hamorebi_logo_color.png) no-repeat
        center center / contain;
    }
  }

  // テスト用
  &:nth-child(-n + 3) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url(/img/common/hamorebi_logo_color.png) no-repeat
        center center / contain;
    }
  }
}
.statusText {
  font-size: g.rem(12);
  text-align: center;
  margin-top: 4px;

  @include g.mq("sm") {
    min-width: 144px;
    text-align: left;
    margin-top: 0;
    margin-left: 20px;
  }

  @include g.mq("md") {
    margin-left: 26px;
  }
}
