@use "../global" as g;

/*=======================
全体共通
====================== */
body {
  font-size: g.$fz-standard;
  font-family: g.$font-family--base;
  color: g.$color-font-main;
  font-weight: 400;
  background-color: g.$color-body-background;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}