@use "../../global" as g;

.btn {
  @extend %button;
  @extend %buttonDecoration;
  position: relative;

  @media (hover: hover) {
    &:hover {
      transform: translate(-8px, -8px);

      &::after {
        opacity: 1;
      }
    }
  }
}

.btnTextWrap {
  @extend %buttonContents;

  // 矢印
  @extend %buttonArrow;
  &::after {
    right: -28px;
  }
}
