@use "../../global" as g;
@use "sass:math";

.sectionTitle {
  position: relative;
  padding-top: 44px;
  text-align: center;
  font-weight: 500;
  font-size: clamp(g.rem(24), 4vw, g.rem(36));
  margin-top: 22px;

  span {
    font-size: clamp(g.rem(16), 3vw, g.rem(24));
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 58px;
    background: transparent url(/img/common/title-reception.png) no-repeat center center /cover;
  }
}
