@use "../../global" as g;
@use "sass:math";

.toTop {
  width: clamp(50px, 8vw, 90px);
  height: clamp(50px, 8vw, 90px);
  position: fixed;
  bottom: 20px;
  right: 0;
  border-radius: 9999px;
  overflow: hidden;
  transition: opacity 0.3s ease;
  z-index: g.zi(toTopBtn);
  //   opacity: 0;

  @include g.mq("3xl") {
    right: calc(50vw - 750px);
  }
}

.toTopLink {
  display: inline-block;
  width: 100%;
  height: 100%;

  @extend %button;

  &::before {
    background: linear-gradient(
      90deg,
      g.$color-btn-background-1 0%,
      g.$color-btn-background-2 100%
    );
    z-index: g.zi(button-base);
  }

  @media (hover: hover) {
    &:hover::after {
      opacity: 1;
    }
  }
}

.toTopArrowWrap,
.toTopText {
  @extend %buttonContents;
}

.toTopArrowWrap {
  width: clamp(22.09px, 3vw, 29.46px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  transition: transform 0.3s ease;

  @include g.mq("xl") {
    top: 0;
    transform: translateY(0);
    margin: 14.65px auto 0;
  }
}
@media (hover: hover) {
  .toTopLink:hover .toTopArrowWrap {
    transform: translateY(-20px);

    @include g.mq("lg") {
      transform: translateY(-5px);
    }
  }
}

.toTopText {
  font-weight: 500;
  text-align: center;
  display: block;
  color: g.$color-font-toTopBtn;
  margin-top: 8.62px;
  display: none;

  @include g.mq("xl") {
    display: block;
  }
}
